.header {
    background-color: #000000;
    padding: 2em;
    text-align: center;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.2);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
.header h1 {
    font-size: 3em;
    font-family: 'Lobster';
    margin: 0;
}
.header h1 a,
.header h1 a:active,
.header h1 a:focus,
.header h1 a:visited {
    color: #ffffff;
    text-decoration: none;
}
.header h1 a:hover {
    color: #b94c9a;
}
