.asset-details-container {
    display: block;
    margin: 0 auto;
    width: 900px;
}
.asset-details-container > div {
    display: inline-block;
    vertical-align: top;
}
.asset-details-container .chevron {
    color: #ffffff;
    font-family: 'Indie-Flower';
}
.asset-details-container .asset-image {
    width: 300px;
}
.asset-details-container .asset-details {
    margin-left: 50px;
    width: 550px;
}
.asset-details-container .asset-details .asset-name {
    font-size: 1.5em;
}
.asset-details-container .asset-details .asset-name,
.asset-details-container .asset-details .asset-description {
    display: block;
    margin-bottom: 20px;
}
.asset-details-container .asset-details .asset-description {
    font-family: 'Work Sans Extra Light';
    line-height: 1.5;
}
.asset-details-container .asset-details .buy-now-button {
    position: relative;
    top: -8px;
}
.asset-details-container .asset-price {
    font-size: 3em;
}
.asset-details-container .asset-price .price {
    font-family: "Work Sans Extra Light";
}
.buy-now-container {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 40px;
}
.buy-now-container > div {
    display: inline-block;
    vertical-align: middle;
}
.buy-now-container .buy-now {
    float: right;
}
