.asset-details-container {
    display: block;
    margin: 0 auto;
    width: 900px;
}
.asset-details-container > div {
    display: inline-block;
    vertical-align: top;
}
.asset-details-container .chevron {
    color: #ffffff;
    font-family: 'Indie-Flower';
}
.asset-image {
    width: 300px;
}
.asset-details {
    margin-left: 50px;
    width: 550px;
}
.asset-details .asset-name {
    font-size: 1.5em;
}
.asset-details .asset-name,
.asset-details .asset-description {
    display: block;
    margin-bottom: 20px;
}
.asset-details .buy-now-button {
    background-color: #ff00b6;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: "Work Sans Extra Light";
    font-size: 28px;
    position: relative;
    top: -8px;
}
.asset-price {
    font-size: 3em;
}
.asset-price .price {
    font-family: "Work Sans Extra Light";
}
.buy-now-container {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 40px;
}
.buy-now-container > div {
    display: inline-block;
    vertical-align: middle;
}
.buy-now-container .buy-now {
    float: right;
}