/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

h2 {
  font-size: 1.6em;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
code {
  padding: .25rem;
  margin: 0 .25rem;
  background: #eee;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 500px;
}

.page-title {
  text-align: center;
}

.pure-u-1-1 {
  padding: 2em;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li:not(:last-child) {
  margin-bottom: 15px;
}

.button {
  background-color: #ff00b6;
  color: white;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-family: "Work Sans Extra Light";
  font-size: 28px;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.2);
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.button:disabled{
  background-color: #b1b1b1;
}

.button.small-button {
  font-size: 1.2em;
  padding: 7px 15px;
}

.button.medium-button {
  font-size: 1.6em;
  padding: 9px 18px;
}

.back-to-store {
  color: #000000;
  font-family: 'Work Sans Extra Light';
  text-decoration: none;
  font-size: 1.4em;
  display: block;
  margin-bottom: 1em;
}

.back-to-store:hover {
  color: #ff00cb;
}

.back-to-store .chevron {
  color: #ff00cb;
  font-family: 'Indie-Flower';
  margin-right: .4em;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

/* ALERTS */

.alert {
  padding: .5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}

.alert-message {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 15px;
  color: #ffffff;
  font-family: 'Work Sans Extra Light';
  box-sizing: border-box;
}

.alert-message.success {
  background-color: #14d451;
}

.alert-message.error {
  background-color: #ff3458;
}

.alert-message.pending {
  background-color: #00b6ff;
}
.alert-message p {
  overflow: hidden;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 2px 0;
}
/* REACT TABS */

.tabs {
  margin-top: 2em;
}
.tabs,
.tab-list {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.tab-list li {
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 20px;
}
.react-tabs__tab-panel {
  display: inline-block;
  width: 100%;
}
.react-tabs__tab--selected {
  border-bottom: 2px solid #ff00cb;
}
